@import '../variables.scss';

.container {
    display: flex;
    height: 100vh;
    color: $color-primary--light;

    &_left {
        flex-basis: 25%;
    }

    &_right {
        flex-basis: 75%;
    }
}