@import '../variables.scss';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 3rem;
    margin-right: 3rem;
    background-color: white;
    min-height: 80vh;

    .heading_2 {
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
        margin-top: .6rem;
    }

    &_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        margin-top: 1.5rem;

        &>* {
            margin-bottom: .5rem;
        }
    }

    .paragraph {
        margin-bottom: 0;
    }
}