@import './variables.scss';

:root {
    font-size: 10px;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.button {
    border: none;
    cursor: pointer;
}

.button--black,
.button--orange {
    color: #FAF9F6;
    font-size: 1.2rem;
}

.button--black {
    background-color: #050301;
    text-transform: uppercase;
    padding: 1rem .5rem;
}

.button--orange {
    background-color: $color-primary--regular;
    padding: 1rem 1.5rem;
    transform: skewX(-20deg);
}